<h2> Your repositories: </h2>
<div class="grid grid-cols-2 gap-4">
    <ul class="w-full">
        {% for repo in repositories %}
        <li hx-trigger="click" hx-get="/repo?owner={{ repo.owner }}&repo={{ repo.name }}" hx-target="#repo_info">{{ repo.full_name }}</li>
        {% endfor %}
    </ul>
    <div class="w-full bg-gray-400">
        <div id="repo_info" 
             class="container mx-auto flex-auto" 
             hx-trigger="load" 
             hx-get="/repo?owner={{ repositories[0].owner }}&repo={{ repositories[0].name }}">
        </div>
    </div>
</div>
