<div class="grid grid-cols-2 gap-4">
    <div class="w-full">
        <form id="repos_form" class="bg-gray-300 w-full h-64 overflow-y-scroll" hx-get="/repo" hx-target="#repo_info" hx-trigger="change">
            {% for repo in repositories %}
                <input id="repo_{{ repo.id }}" type="checkbox" value="{{ repo.full_name }}" name="repo_name"> 
                <label for="repo_{{ repo.id }}">{{ repo.full_name }}</label> <br/>
                <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700"/>
            {% endfor %}
        </form>
    </div>
    <div class="w-full bg-gray-400">
        <div id="repo_info" class="container mx-auto flex-auto">
            Waiting for data...
        </div>
    </div>
</div>
