<table class="table-auto text-left border-spacing-y-1 border border-separate border-transparent">
    <thead class="mb-2">
        <tr>
            <th> Referrer </th>
            <th> Views </th>
            <th> Unique Visitors </th>
        </tr>
    </thead>
    <tbody>
        {% for referrer in views.referrers %}
        <tr>
            <td>{{ referrer.0 }}</td>
            <td> {{ referrer.1.0 }} </td>
            <td> {{ referrer.1.1 }} </td>
        </tr>
        {% endfor %}
        <tr class="font-medium">
            <td> Total </td>
            <td> {{ views.total_count }} </td>
            <td> {{ views.total_uniques }} </td>
        </tr>
    </tbody>
</table>
