<div class="flex flex-col items-center px-4 md:px-36 lg:px-60 w-full h-auto">
    <p class="mb-6 lg:text-xl font-normal text-gray-600 dark:text-gray-200 text-center">
        First, <a href="https://github.com/apps/ghtraffic/installations/select_target" class="bg-green-500 hover:bg-green-700 dark:bg-green-600 text-white font-semibold px-2 py-1 rounded font-sans transition-all">Configure</a> which account/organization repos <b>ghTraffic</b> has access to.
    </p>
</div>
<div class="grid sm:grid-cols-2 grid-rows-2 gap-4 px-4 mb-4 w-full sm:h-80 dark:text-gray-200 text-gray-800">
    <div class="bg-gray-200 dark:bg-neutral-900 bg-opacity-70 rounded-md sm:h-80 h-60">
        <form id="repos_form" class="overflow-y-scroll p-4 sm:h-80 h-60" hx-get="/repo" hx-target="#repo_info"
            hx-trigger="change">
            <h3 class="font-medium mb-4 ">Select Repositories</h3>
            {% for repo in repositories %}
            <div class="border-b border-gray-300 dark:border-neutral-800 mb-3 p-1">
                <input id="repo_{{ repo.id }}" type="checkbox" value="{{ repo.full_name }}" name="repo_name"
                    class="appearance-none checked:bg-blue-500 peer">
                <label for="repo_{{ repo.id }}"
                    class="cursor-pointer peer-checked:bg-blue-800 peer-checked:text-white hover:text-blue-800 dark:hover:text-blue-300 py-1 px-2 rounded-sm select-none">
                    <span>{{ repo.full_name }}</span>
                </label>
            </div>
            {% endfor %}
        </form>
    </div>
    <div class="bg-gray-200 dark:bg-neutral-900 bg-opacity-70 rounded-md sm:h-80 h-60">
        <div id="repo_info" class="container mx-auto flex flex-col p-4 overflow-y-scroll sm:h-80 h-60">
            <table class="table-auto text-left border-spacing-y-1 border border-separate border-transparent">
                <thead class="mb-2">
                    <tr>
                        <th> Referrer </th>
                        <th> Views </th>
                        <th> Unique Visitors </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="font-medium">
                        <td> Total </td>
                        <td> 0 </td>
                        <td> 0 </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
