<!-- THIS FILE IS NOT THE PART OF ACTUAL PROGRAM, CAN BE DELETED SAFELY -->

<!DOCTYPE html>
<html>

<head>
    <title>ghTraffic by soup.dev</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

    <script>
        tailwind.config = {
            darkMode: 'selector',
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
    <script src="script.js"></script>
    <style>
        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-thumb {
            background: #8282825b;
            border-radius: 4px;
        }
    </style>

</head>

<body id="root" class="max-h-screen h-screen bg-gray-50 dark:bg-neutral-950" style="font-family: Ubuntu, monospace;">
    <nav class="h-16 mb-10 p-1 px-10 flex items-center justify-between bg-gray-50 dark:bg-neutral-950">
        <a href="/" class=" flex items-center gap-2">
            <img src="../img/logo_small.png" class="h-9 w-auto" alt="ghtraffic" />
            <div class="font-medium text-slate-800 text-2xl tracking-tighter dark:text-slate-200">
                ghTraffic
            </div>
        </a>
        <button type="button" id="theme-toggle">
            <img src="../img/night-mode.png" class="h-9 w-auto bg-gray-50 rounded-full" />
        </button>
    </nav>
    <!-- {% if authenticated %} -->
    <!-- <div id="content" class="container mx-auto flex-auto" hx-trigger="load" hx-get="/repos"></div> -->


    <div class="grid sm:grid-cols-2 grid-rows-2 gap-4 px-4 mb-4 w-full sm:h-80 dark:text-gray-200 text-gray-800">
        <div class="bg-gray-200 dark:bg-neutral-900 bg-opacity-70 rounded-md sm:h-80 h-60"">
            <!-- <form id=" repos_form" class="bg-gray-300 w-full h-64 overflow-y-scroll" hx-get="/repo"
            hx-target="#repo_info" hx-trigger="change">
            {% for repo in repositories %}
            <input id="repo_{{ repo.id }}" type="checkbox" value="{{ repo.full_name }}" name="repo_name">
            <label for="repo_{{ repo.id }}">{{ repo.full_name }}</label> <br />
            <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />
            {% endfor %}
            </form> -->
            <form id="repos_form" class="overflow-y-scroll p-4 sm:h-80 h-60" hx-get="/repo" hx-target="#repo_info"
                hx-trigger="change">
                <h3 class="font-medium mb-4 ">Select Repositories</h3>

                <div class="border-b border-gray-300 dark:border-neutral-800 mb-3 p-1">
                    <input id="repo_828488529" type="checkbox" value="muhammadzaid-99/promptia" name="repo_name"
                        class="appearance-none checked:bg-blue-500 peer">
                    <label for="repo_828488529"
                        class="cursor-pointer peer-checked:bg-blue-800 peer-checked:text-white hover:text-blue-800 dark:hover:text-blue-300 py-1 px-2 rounded-sm select-none">
                        <span>muhammadzaid-99/promptia</span>
                    </label>
                </div>

            </form>
        </div>

        <div class="bg-gray-200 dark:bg-neutral-900 bg-opacity-70 rounded-md sm:h-80 h-60">
            <div id="repo_info" class="container mx-auto flex flex-col p-4 overflow-y-scroll sm:h-80 h-60">
                <table class="table-auto text-left border-spacing-y-1 border border-separate border-transparent">
                    <thead class="mb-2">
                        <tr>
                            <th> Referrer </th>
                            <th> Views </th>
                            <th> Unique Visitors </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>soup.dev </td>
                            <td>60 </td>
                            <td> 2</td>
                        </tr>
                        <tr>
                            <td>github.com </td>
                            <td>13 </td>
                            <td> 1</td>
                        </tr>

                        <tr class="font-medium">
                            <td>Total</td>
                            <td>73</td>
                            <td>3</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- {% else %} -->
    <!-- <div class="flex flex-col items-center px-4 md:px-36 lg:px-60 w-full h-auto">
        <h1
            class="mb-10 md:text-4xl text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl dark:text-gray-100 text-center">
            <span class="">
                ghTraffic
            </span>by <a href="https://soup.dev"
                class="bg-gradient-to-r from-green-600 to-green-500 text-transparent bg-clip-text hover:bg-transparent hover:text-pink-600 transition-all">soup.dev</a>
        </h1>
        <p class="mb-6 text-lg lg:text-xl font-normal text-gray-800 dark:text-gray-200 text-center">
            ghTraffic allows you to view aggregated traffic information <br class="hidden sm:block" /> from multiple GitHub repositories.
        </p>
        <p class="mb-6 mt-10 text-md lg:text-lg font-normal text-gray-600 dark:text-gray-300 text-center">
            To get started, login with your GitHub account:
        </p>
        <a href="{{ login_uri.as_ref().unwrap() }}"
            class="bg-green-500 hover:bg-green-700 dark:bg-green-600 text-xl text-white font-semibold py-2 px-4 rounded font-sans transition-all">Login
            with GitHub</a>
        <p class="mt-10 text-sm font-normal text-gray-500 dark:text-gray-300 text-center">
            This is an open-source project.<br />Consider supporting it on
            <a href="https://buymeacoffee.com/mirch"
                class="text-yellow-600 no-underline hover:text-opacity-80">buymeacoffee.com</a>
        </p>
    </div> -->
    <!-- {% endif %} -->

    <div class="sticky top-full">
        <footer class="flex items-center justify-center pb-2 text-gray-400">
            <p>&copy; 2024 <a href="https://soup.dev"
                    class="no-underline hover:text-black dark:hover:text-white">soup.dev</a>
            </p>
        </footer>
    </div>
</body>

</html>