<div class="flex flex-col items-center">
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">Welcome to ghTraffic by soup.dev</h1>
    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">
        ghTraffic allows you to aggregate traffic data from multiple GitHub repositories.
    </p>
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700"/>
    <a href="{{ login_uri }}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Login with GitHub</a>
</div>
